<div class="text-layout">
  <h1>Pipes no tan comunes</h1>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit.
  </p>
</div>

<div class="p-grid">
  <div class="p-col p-md-6">
    <p-fieldset legend="i18nSelect Pipe" [toggleable]="true">
      <p>
        Hola {{nombre}}, hoy quiero {{ genero | i18nSelect:invitacionMapa }} a ver como gana Colombía y pierde Perú
      </p>
      <button (click)="cambiarCliente()"
              pButton
              type="button"
              label="Cambiar persona">
      </button>
    </p-fieldset>
  </div>
  <div class="p-col p-md-6">
    <p-fieldset legend="i18nPlural Pipe" [toggleable]="true">
      <p>
        Actualmente tenemos {{ clientes.length | i18nPlural:clientesMapa }}
      </p>
      <button (click)="borrarCliente()"
              pButton
              type="button"
              label="Borrar cliente"
              class="p-button-outlined">
      </button>
    </p-fieldset>
  </div>


  <div class="p-col p-md-6">
    <p-fieldset legend="Slice Pipe" [toggleable]="true">
      <b>Original</b>
      <pre>
        {{ clientes }}
      </pre>

      <b>slice:0:3</b>
      <pre>{{ clientes | slice:0:3 }}</pre>

      <b>slice:0:2</b>
      <pre>{{ clientes | slice:0:2 }}</pre>

      <b>slice:0:1</b>
      <pre>{{ clientes | slice:0:1 }}</pre>

    </p-fieldset>
  </div>


  <div class="p-col p-md-6">
    <p-fieldset legend="KeyValue Pipe" [toggleable]="true">

      <ul>
        <li *ngFor="let item of persona | keyvalue" >
          <b>{{ item.key | titlecase }}:</b> {{ item.value }}
        </li>
      </ul>

    </p-fieldset>
  </div>

  <div class="p-col p-md-6">
    <p-fieldset legend="Json Pipe" [toggleable]="true">
      <pre>
        {{ heros | json }}
      </pre>
    </p-fieldset>
  </div>

  <div class="p-col p-md-6">
    <p-fieldset legend="Async Pipe" [toggleable]="true">
      <pre *ngIf="!( miObservable| async )">Resolviendo observable</pre>
      <pre>{{ miObservable | async }}</pre>
      
      <pre *ngIf="!( valorPromesa | async )">Resolviendo promesa</pre>
      <pre>{{ valorPromesa | async }}</pre>
    </p-fieldset>
  </div>

</div>


